@import url("../fonts/stolzl/stylesheet.css");
@import url("../fonts/gothampro/stylesheet.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none; color: #fff;}
ul,li{list-style-type: none;}
body{
    font-family: 'Stolzl', sans-serif;
    color: #fff;
}
.container{
    max-width: 1292px;
    margin: 0 auto;
}
.header{
    padding: 50px 100px 0;
    position: absolute;
    width: 100%;
    .container{
        display: flex;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: 16px;
        font-weight: 400;
    }
    &__link{
        margin-right: 46px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__item{
        transition: .5s;
        &:hover{
            color: #b1b1b1;

        }
    }
    &__contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger{
        position: absolute;
        cursor: pointer;
        span{
            width: 28px;
            height: 2px;
            background-color: #fff;
            position: relative;
            transition: 0.5s all;
            display: none;
            margin-top: 14px;
            &::before{
                content: "";
                position: absolute;
                top: 10px;
                width: 28px;
                height: 2px;
                background-color: #fff;
                transition: 0.5s all;
            }
            &::after{
                content: "";
                position: absolute;
                width: 28px;
                height: 2px;
                bottom: -20px;
                background-color: #fff;
                transition: 0.5s all;
            }
        }
    }
    &__tel{
        margin-right: 43px;
        font-size: 18px;
        font-weight: 300;
        transition: .5s;
        &:hover{
            color: #b1b1b1;
        }
    }
    &__whatsapp{
        padding: 16px 25px;
        border-radius: 9px;
        background: #4F15F3;
        display: flex;
        align-items: center;
        transition: .5s;
        &:hover{
            background: #4113c0;
        }
    }
    .whatsapp-logo{
        margin-right: 19px;
    }
}

.home{
    padding: 196px 100px 151px;
    background-color: #4C1DD2;
    width: 100%;
    .container{
        display: flex;
        justify-content: space-between;
        padding-left: 46px+49px;
    }
    &__content-text{
        padding-top: 131px;
        z-index: 10;
    }
    &__title{
        font-size: 48px;
        line-height: 78px;
        font-weight: 400;
        margin-bottom: 23px;
        &_light{
            font-weight: 300;
        }
    }
    &__subtitle{
        font-size: 24px;
        font-weight: 300;
        line-height: 36,05px;
        margin-bottom: 48px;
    }
    
    &__input{
        border: none;
        outline: none;
        border-radius: 12px;
        padding: 20px 20px 16px;
        font-size: 18px; 
        font-family: 'Stolzl';
    }
    &__form{
        .submit{
            padding: 20px 0 16px;
            background: #F86161;
            width: 335px;
            color: #fff;
            font-size: 18px;
            margin-left: 21px;
            transition: .5s;
            &:hover{
                background-color: #4113c0;
            }
        }
    }
    &__content-img{
        position: relative;
    }
    .pos-ab{
        position: absolute;
    }
    &__img-bg{
        position: relative;
        width: 445px;
        height: 598px;
        margin-top: 36px;
        background: #F86161;
        border-radius: 59px;
        
    }
    &__before{
        padding: 26px 35px;
        background: #121B30;
        border-radius: 21px;
        text-align: center;
        top: -38px;
        left: -66px;
        &_img{
            margin: 0 auto 18px;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: #f6f4fc;
            position: relative;

        }
        img{
           position: absolute;
           top: 0;
           left: 0;
           bottom: 0;
           right: 0;
           margin: auto;
        }
        &_title{
            font-size: 22px;
            margin-bottom: 5px;

        }
        &_subtitle{
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__after{
        top: 218px;
        right: -169px;
        padding: 16px 44px 18px 20px;
        display: flex;
        background: #121B30;
        border-radius: 21px;
        .home__before_img{
            margin-right: 14px;
            img{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    &__punkt{
        right: -50px;
        top: 5px;
        
    }
    &__graf{
        background-color: #fff;
        border-radius: 15px;
        padding: 22px 33px 25px 23px;
        top: 397px;
        right: -64px;
        &_img{
            width: 52px;
            height: 52px;
            background: #F6F4FC;
            border-radius: 50%;
            position: relative;
            margin-right: 18px;
            img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &_title{
            display: flex;
            align-items: center;
            margin-bottom: 35px;
        }
        .gotham{
            font-family: 'Gotham Pro',;
            font-weight: bold;
            font-size: 18px;
            color: #121B30;
        }
        .graf{
            width: 270px;
        }
    }
    &__girl{
        margin-top: -82px;
        margin-left: -65px;
    }
    &__hr{
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #5B2AED;
        top: 0;
        &:first-child{
            left: 20;
        }
        &:nth-child(2){
            left: 459px;
        }
        &:nth-child(3){
            left: 918px;
        }
        &:nth-child(4){
            left: 1417px;
        }
        &:nth-child(5){
            right: 20px;
        }
    }
    &__bubble{
        position: absolute;

    }
    &__elipse{
        position: absolute;
    }
    .pl-1{
        width: 14px;
        height: 14px;
        left: 162px;
        top: 172px;
    }
    .pl-2{
        width: 9px;
        height: 9px;
        left: 241px;
        top: 756px;
    }
    .pl-3{
        width: 8px;
        height: 8px;
        left: 1012px;
        top: 449px;
    }.pl-4{
        width: 19px;
        height: 19px;
        left: 978px;
        top: 274px;
    }
}









@media (max-width: 1676px){
    .home{
        &__after{
            right: -100px;
        }
    }
}
@media (max-width: 1540px){
    .header{
        padding: 50px 115px 0;
    }
    .home{
        padding: 196px 115px 151px;
        &__after{
            align-items: center;
            padding: 14px 30px 14px 17px;
            .home__before_img{
                margin: 0 10px 0 0 ;
            }
        }
        &__before{
            padding: 23px 32px;
        }
        &__img-bg{
            width: 420px;
            height: 550px;

        }
        &__girl{
            width: 507px;
            height: auto;
        }
        &__graf{
            padding: 22px 25px 20px 23px;
            &_title{
                margin-bottom: 20px;
            }
            .graf{
                width: 255px;
            }
        }
        &__hr{
            &:nth-child(4){
                display: none;
            }
        }
    }
}
@media (max-width: 1420px){
     .home{
         &__form{
             .submit{
                 width: 275px;
             }
         }
     }
}
@media(max-width: 1330px){
    .header{
        padding: 30px 15px 0;
        &__link{
            margin-right: 35px;
        }
        &__tel{
            font-size: 16px;
        }
        &__whatsapp{
            padding: 14px 20px;
        }
    }
    .home{
        padding: 175px 115px 151px 15px;
        &__title{
            font-size: 42px;
            line-height: 55px;
        }
        &__form{
            display: flex;
            flex-direction: column;
            .tel{
                margin-bottom: 15px;
            }
            .submit{
                margin: 0;
                width: 267px;
            }
        }
        &__after{
            align-items: center;
            padding: 14px 30px 14px 17px;
            .home__before_img{
                margin: 0 10px 0 0 ;
            }
        }
        &__before{
            padding: 20px 25px;;
            &_title{
                font-size: 18px;
            }
            &_img{
                margin-bottom: 10px;
            }
        }
        &__img-bg{
            width: 385px;
            height: 518px;

        }
        &__girl{
            width: 440px;
            margin-left: -46px;
        }
        &__graf{
            padding: 15px 20px;
            &_img{
                width: 48px;
                height: 48px;
            }
            &_title{
                margin-bottom: 20px;
                .gotham{
                    font-size: 16px;
                }
            }
            .graf{
                width: 255px;
            }
        }
    }
}
@media(max-width: 1240px){
    .header{
        &__link{
            font-size: 14px;
        }
        &__tel{
            margin-right: 15px;
        }
    }
    .home{
        &__title{
            font-size: 38px;
            line-height: 47px;
        }
        &__subtitle{
            font-size: 22px;
        }
        &__content-text{
            padding-top: 85px;
        }
        &__img-bg{
            margin-top: 15px;
            width: 355px;
            height: 470px;
        }
        &__punkt{
            top: -22px;
        }
        &__girl{
            width: 428px;
        }
        &__after{
            top: 125px;
        }
        &__before{
            top: -55px;
        }
        &__graf{
            top: 340px;
        }
    }
}

@media(max-width: 1050px){
    .home{
        &__graf{
            top: 310px;
            .graf{
                width: 225px;
            }
        }
        &__after{
            padding: 10px 15px 10px 15px;
        }
        &__before{
            padding: 15px;
            top: -50px;
            left: -50px;
        }
        &__girl{
            width: 400px;
            margin-left: -38px;
        }
        &__content-text{
            padding-top: 40px;

        }
        &__img-bg{
            width: 340px;
            height: 434px;
        }
        &__hr{
            &:nth-child(3){
                display: none;
            }
        }
        .pl-1{
            width: 14px;
            height: 14px;
            left: 271px;
            top: 172px;
        }
        .pl-2{
            width: 9px;
            height: 9px;
            left: 241px;
            top: 756px;
        }
        .pl-3{
            width: 8px;
            height: 8px;
            left: 500px;
            top: 449px;
        }.pl-4{
            width: 19px;
            height: 19px;
            left: 600px;
            top: 100px;
        }
    }
}
@media(max-width: 1024px){
    .home{
        .container{
            flex-direction: column-reverse;
        }
        &__img-bg{
            margin-left: auto;
        }
    }
}
@media(max-width: 991px){
    .header{
        .header__contact {
            position: absolute;
            right: 15px;
        }
        &__burger{
            span{
                display: block;
            }
        }
        &__link{
            display: none;
            &:nth-child(1){
                display: block;
                margin-left: 50px;
                margin-top: 7px;
            }
        }
        &__nav.active{
            flex-direction: column;
            .header__link{
                display: block;
                &:nth-child(1){
                    display: block;
                    margin-left: 50px;
                    margin-top: 7px;
                }
                &:nth-child(2){
                    padding-top: 20px;
                }
            }
            .link{
                padding-top: 15px;
                margin: 0;
                font-size: 18px;
                margin-left: 30px;
                
            }
        }
        &__burger.active{
            margin-top: 12px;
            span{
                display: inline;
                &::after{
                    top: 10px;
                    transform: rotate(45deg);
                }
                &:before{
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .home{
        .container{
            padding-left: 3px;
        }
        &__title{
            font-size: 36px;
        }
    }
}